.gameboard {
    display: grid;
    grid-template-columns: repeat(3, maxcontent);
    grid-template-rows: repeat(3, maxcontent);
    grid-auto-flow: column;
    gap: 8px;
}   

.square {
    height: 60px;
    width: 60px;
    background-color: bisque;
}